# {{ ansible_managed }}

configDirectory={{ pihole_setupvars_config_directory }}
installDirectory={{ pihole_setupvars_install_directory }}
PIHOLE_INTERFACE={{ pihole_setupvars_pihole_interface }}
IPV4_ADDRESS={{ pihole_setupvars_ipv4_address }}/24
IPV6_ADDRESS={{ pihole_setupvars_ipv6_address }}
PIHOLE_DNS_1={{ pihole_setupvars_pihole_dns_1 }}
PIHOLE_DNS_2={{ pihole_setupvars_pihole_dns_2 }}
QUERY_LOGGING={{ pihole_setupvars_query_logging }}
INSTALL_WEB={{ pihole_setupvars_install_web }}
